.hex {
    width: 50px;
    height: 50px;
}
header {
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, rgb(5, 104, 217), rgb(30, 27, 27), rgb(5, 104, 217));
    border-image-slice: 1;
}

.div {
    width: 900px;
    height: 900px;
    background-image: linear-gradient(45deg, rgb(92, 70, 230), rgb(69, 200, 220));
    padding: 5px;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.871);
    font-family: sans-serif;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-left: 10px;



}
h1 {
    text-align: center;
    color: rgb(246, 196, 104);
}
.ten {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
}

div:hover {
    border-radius: 24px;
}

p {
    padding-left: 10px;
}

.jaba {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}

.deti {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}
.bor {
    border-bottom: 2px solid rgb(65, 36, 206);
}

.fut {
    width: 590px;
    height: 250px;
    display: inline-block;
    background-image: linear-gradient(45deg, rgb(49, 142, 224) 60%, rgb(81, 192, 54) 50%);
    margin: 5%;
    border-radius: 25px;
    font-family: sans-serif;
}

li {
    font-size: 20px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.871);

}
a {
    text-decoration: none;
}
a:active {
    color: blueviolet;
}

a:visited {
    color: lightblue;
}

a:focus {
    color: lightgreen;
}